.wrapper_menu
    height 56px
    background-color #00c7ea
.menu
    color #fff

.sidebar
    &__burger
//         #303030
// #00c7ea
        height 15px
        width 20px
        background-color red
