@import '../../components/menu/menu.styl';
@import '../../components/content_home/content_home.styl';
@import '../../components/footer/footer.styl';

html, body
    height 100%


.page
    // Стили для body

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px

